@font-face {
  font-family: 'OpenSans Regular';
  src: url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
  font-family: 'Redressed Regular';
  src: url(./assets/fonts/Redressed-Regular.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family-redressed: 'Redressed Regular', Arial, Helvetica, sans-serif;
  --font-family-opensans: 'OpenSans Regular', Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
